<div class="img" style="position: relative; width: 100%; height: 100%;">
  <img src="https://th.bing.com/th/id/R.eda21de8ecb552eaf1ed64c0b81054c5?rik=uzC%2bNbmKN%2fLCkw&riu=http%3a%2f%2fcdn.playbuzz.com%2fcdn%2f111d02dc-49a0-4d8f-a730-10c6e6481faf%2f4a477ad3-f47c-45df-8a4c-4ebfadf25e5c.jpg&ehk=TjioEbYoFG3F519bj3xN9OUxPsokUpbQwkj7kfCtvS8%3d&risl=&pid=ImgRaw&r=0" style="width: 100%; height: 100%;">
  <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center;">
    <h1 style="color: white; font-size: 24px;">Seja bem-vindo ao TV Play</h1>
  </div>
</div>
<div class="container mt-5">
<br/>
  <div class="card text-center">
    <h1 class="text-center">Canais ao vivo</h1>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">HBO</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=hbo" class="btn btn-dark">Play</a>
    </div>
<hr/>
    <div class="card-body">
      <h5 class="card-title">Telecine Premium</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=Telecinepremium" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Telecine Action</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=telecineaction" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Telecine Cut</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=telecinecult" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Telecine Pipoca</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=telecinepipoca" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Telecine Touch</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=telecinetouch" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Telecine Fun</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=telecinefun" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body ">
      <h5 class="card-title">Globo</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=globo" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">SBT</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=sbt" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Record</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=record" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">RedeTV!</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=redetv" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Band</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=band" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">MTV</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=mtv" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">HBO 2</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=hboplus" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">HBO Signature </h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=hbosignature" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">HBO Mundi</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=hbomundi" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">HBO Xtreme</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=hboxtreme" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">HBO Pop</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=hbopop" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">HBO Family</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=hbofamily" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">TNT Series</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=tntseries" class="btn btn-dark">Play</a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">AXN</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=axn" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">FX</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=fx" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Sony</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=sony" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Studio Universal</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=studiouniversal" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">SYFY</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=syfy" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Paramount</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=paramount" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">SPORTV2</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=sportv2" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">SPORTV3</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=sportv3" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">FOXSPORTS2</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=foxsports2" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">COMBATE</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=comobate" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Discovery Turbo</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=discoveryturbo" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">History2</h5>
      <a href="https://sinalpublico.com/player3/ch.php?canal=history2" class="btn btn-dark">Play
      </a>
    </div>
    <hr/>
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title">Animal Planet</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=animalplanet" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Multishow</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=multishow" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Comedy Central</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=comedycentral" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Cine Canal</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=cinecanal" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Starchannel</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=starchannel" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Universal</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=universal" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Warner</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=warner" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Primebox Brasil</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=primeboxbrazil" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Conmebol TV1</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=conmeboltv1" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Conmebol TV2</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=conmeboltv2" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Conmebol TV3</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=conmeboltv3" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Conmebol TV4</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=conmeboltv4" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">VIVA</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=viva" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Premiere Clubes</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=premiereclubes" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Premiere 2</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=premiere2" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Premiere 3</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=premiere3" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Premiere 4</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=premiere4" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Premiere 5</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=premiere5" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Premiere 6</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=premiere6" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Premiere 7</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=premiere7" class="btn btn-dark">Play
        </a>
      </div>
      <hr/>
      <div class="card-body">
        <h5 class="card-title">Premiere 8</h5>
        <a href="https://sinalpublico.com/player3/ch.php?canal=premiere8" class="btn btn-dark">Play
        </a>
      </div>
    </div>
  </div>